sentence-transformers==2.2.2   #this is stable 
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .   #this executes the setup.py and creates Generative AI project.egg-info file 